<form action="" style="border:1px solid #ccc">
  <div class="container">
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>
    <label for="employeeId"><b>Employee Id</b></label>
    <input  #employeeId type="number" placeholder="Enter EmployeeId" name="employeeId" required maxlength="5">

    <label for="employeeName"><b>Name</b></label>
    <input #employeeName type="text"  placeholder="Enter Name" name="employeeName" required>

    <label for="email"><b>Email</b></label>
    <input #email type="email" placeholder="Enter Name" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input #empPassword type="password" placeholder="Enter Password" name="empPassword" required>

    <label for="psw"><b>Department</b></label>
    <input #deptname type="text" placeholder="Enter Department" name="deptname" required>

    <label for="role_type"><b>Select Role type</b></label>
    <select #role_type name="role_type">
        <option value="Employee">Trainer </option>
        <option value="HR">HR </option>
        <option value="Employer">Employer </option>
    </select>
    
    <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button (click)="add(employeeId.value,employeeName.value,email.value,empPassword.value,role_type.value)"
       type="submit" class="signupbtn">Sign Up</button>      
    </div>
</div>
</form>