<form action="" style="border:1px solid #ccc">
  <div class="container">
    <h1>Sign In</h1>
    <hr>
    <label for="employeeId">
      <b>EmployeeId</b>
    </label>
    <input type="number" placeholder="Enter EmployeeId" name="employeeId" required maxlength="5">
    <br/>
    <label for="psw">
      <b>Password</b>
    </label>
    <input type="password" placeholder="Enter Password" name="empPassword" required>
    <div class="clearfix">      
      <button type="submit" class="signupbtn">Sign In</button>
      <button type="button" class="cancelbtn">Cancel</button>
    </div>
  </div>
</form>