<form action="" style="border:1px solid #ccc">
  <div class="container">
    <h1>Profile Approval by HR.</h1>
    <p>Pending Profile for Approval</p>
    <hr>
    <label for="employeeId"><b>Employee Id</b></label>
    <input type="number" placeholder="Enter EmployeeId" name="employeeId" required maxlength="5">

    <div class="clearfix">      
      <button type="submit" class="signupbtn">Approve</button>
      <button type="button" class="cancelbtn">Cancel</button>
    </div>

    <p>  Records with pending profiles , check to appove<p>
  </div>
</form>